lab3/data/bd/*
lab3/data/cl/*
/data/Multi-trigger Multi-target/lipstick_poisoned_data.h5
/data/Multi-trigger Multi-target/sunglasses_poisoned_data.h5
/data/anonymous_1_poisoned_data.h5
/data/clean_test_data.h5
/data/sunglasses_poisoned_data.h5
/data/clean_validation_data.h5
/data/Multi-trigger Multi-target/eyebrows_poisoned_data.h5
